{% extends 'Base.html' %}

{% block title %}
產品
{% endblock %}


	{% block css %}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/product.css')}}">
	{% endblock %}


{% block maincontent %}

	<div style="height: 50px"></div>

	<div>
		<form action="" method="get">
			價格:<input type="text" name="sprice"/>
			~<input type="text" name="eprice"/>
			<input type="submit" value="查詢"/>
		</form>

	{% for item in allGoods %}

	<div class='newsarea'>

		<a href="{{item[4]}}" target="_blank"><img src="{{item[3]}}"></a>
		<p>{{item[2]}}</p>
		<p>NT:{{item[6]}}</p>

	</div>

	{% endfor %}

{% endblock %}
