body{
	margin:0;  /*外部距離都設為0 上下左右 都是0*/
}



#banner{
	height: 60px;
	width: 100%;
}

#menu{
	height:45px;
	width: 100%;
	background-color: #D7DE3D;
}

#content{
	width: 100%;
	min-height: 450px;
}

#footer{
	clear: both;
	width: 100%;
	height: 50px;
	background-color: #000000;  /* 背景色：黑色*/
	color:#ffffff;  /* 字的顏色：白色 */

}

#menu li{
	list-style: none;
	float:left;
	padding-left: 2em;
	padding-right:2em;

}
#menu ul{
	line-height: 45px;
	margin-left:30%;
}

#menu a{
	color:#ffffff;
	text-decoration: none;
	font-size:22px;
	font-weight:bold;
}





