#message{
	margin-left:30%;
	margin-bottom:10%;
}

.contact_form{
	border:1px solid #ccc;
	border-radius: 4px;
	padding:0.5em 0.6em;
	font-size:100%;
	line-height: 1.15;
	width:500px;
	margin-bottom: 100px;
}

.form-control{
	border:1px solid #ccc;
	border-radius: 4px;
	padding:0.5em 0.6em;
	font-size:100%;
	line-height: 1.15;
	width:400px;
}
.form-group{
   margin:2%;
}
.subject{
	font-size:30px;
	font-weight:bold;
}
.btn_submit{
	background-color:#357546;
	color:#ffffff;
	padding:0.5em 1em;
	border:transparent; /* 邊框線整個透明 */
}


